*{
    font-family: 'Poppins', sans-serif;
}
header{
    position: relative;
    background: rgb(166,211,136);
    background: linear-gradient(353deg, rgba(166,211,136,1) 0%, rgba(165,237,245,1) 100%);
    height: 100vh;
}
::-webkit-scrollbar {
    display: block;
    width: 8px;
    height: 8px;
    background-color: #e5e5e5;
  }
  
  ::-webkit-scrollbar-thumb {
  background-color: #242424;
  }
.header{
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}
.header img{
    height: 100%;
}
.info{
    position: relative;
    background-color: #FFF0CA;
    width: 100%;
    min-height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.g_social_media svg{
    width: 20px;
}

.info span{
    letter-spacing: 0.06em;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    color: #1e3234;
    font-style: normal;
    line-height: 26px;
    vertical-align: middle;
}

h2{
    font-family: "Fraunces", Sans-serif;
    font-weight: 900 !important;
    font-style: italic;
    line-height: 1.4em !important;
    text-shadow: 6px 0px 0px #FFFEFE;
    font-size: 150px !important;
}
.elementor-heading-title{padding:0;margin:0;line-height:1}
.elementor-widget-heading 
.elementor-heading-title[class*=elementor-size-]>a{color:inherit;font-size:inherit;line-height:inherit}
.elementor-widget-heading .elementor-heading-title.elementor-size-small{font-size:15px}
.elementor-widget-heading .elementor-heading-title.elementor-size-medium{font-size:19px}
.elementor-widget-heading .elementor-heading-title.elementor-size-large{font-size:29px}
.elementor-widget-heading .elementor-heading-title.elementor-size-xl{font-size:39px}
.elementor-widget-heading .elementor-heading-title.elementor-size-xxl{font-size:59px}

.slogan{
    position: absolute;
    width: 500px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.slogan img{
    width: 100%;
    position: absolute;
}
