

/*--------------------------------------------------------------
    Pagination
--------------------------------------------------------------*/

    .pagination { float: none; display: inline-block; margin-top: clamp(1.875rem, 1.4423rem + 1.9231vw, 3.75rem); text-align: center; width: 100%; }
    .pagination .column { float: right; width: 100%; }
    .pagination .column, .pagination ul { margin: 0; }

    .pagination ul, .entry-body > .page-link { padding-left: 0; display: flex; justify-content: center; text-align: center; flex-wrap: wrap; }
    .pagination ul li, .woocommerce nav.woocommerce-pagination ul li { display: inline-block; float: none; padding-bottom: 0; display: contents; }

    .page-link {  clear: both; float: left; width: 100%; }

    .woocommerce nav.woocommerce-pagination ul li,
    .page-link a, .pagination ul li a,
    .woocommerce nav.woocommerce-pagination ul li a,
    .page-link > span, .pagination ul li span,
    .woocommerce nav.woocommerce-pagination ul li span { background: none; 
        border: 1px solid; display: inline-block; font-size: var(--wdtFontSize_Base); font-weight: var(--wdtFontWeight_Ext); 
        height: clamp(2rem, 1.7404rem + 1.1538vw, 3.125rem); letter-spacing: 0px; line-height: clamp(1.875rem, 1.6154rem + 1.1538vw, 3rem);
        margin: clamp(0.1875rem, 0.1442rem + 0.1923vw, 0.375rem); padding: 0px; 
        position: relative; text-align: center; text-transform: uppercase; width: clamp(2rem, 1.7404rem + 1.1538vw, 3.125rem); 
        -webkit-border-radius: var(--wdtRadius_Full); 
        border-radius: var(--wdtRadius_Full); }

    .page-link a:not(:focus), .pagination ul li a:not(:focus), .woocommerce nav.woocommerce-pagination ul li a:not(:focus) { text-decoration: none; }

    .woocommerce nav.woocommerce-pagination ul, .woocommerce nav.woocommerce-pagination ul li { border-width: 0; }
    .woocommerce nav.woocommerce-pagination ul li span, .woocommerce nav.woocommerce-pagination ul li a { background: none; margin: 0; }

    @media all and (-ms-high-contrast:none) {

        .pagination ul li a.next { margin-right: 0; }
        .pagination ul li a.next, .pagination ul li a.prev { top: -24px; } /* IE10 */
        *::-ms-backdrop, .pagination ul li a.next, .pagination ul li a.prev { top: -24px; } /* IE11 */

    }

    .pagination ul li a.next i, .pagination ul li a.prev i { font-size: calc(var(--wdtFontSize_Base) - 2px); height: 18px; line-height: 20px; margin: 0; position: absolute; left: 50%; top: 50%; text-align: center; text-decoration: inherit; width: 20px; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

    .pagination ul li a .wdticon-angle-double-right:before,
    .pagination ul li a .wdticon-angle-double-left:before {
        content: '';
        background: currentColor;
        width: 18px;
        height: 18px;
        margin: auto;
        -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 50 50' style='enable-background:new 0 0 50 50;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bclip-path:url(%23SVGID_1_);%7D%0A%3C/style%3E%3Cg%3E%3Cdefs%3E%3Crect id='SVGID_3_' y='2' width='50' height='46.1'/%3E%3C/defs%3E%3CclipPath id='SVGID_1_'%3E%3Cuse xlink:href='%23SVGID_3_' style='overflow:visible;'/%3E%3C/clipPath%3E%3Cg id='Group_26' class='st0'%3E%3Cpath id='Path_20044' d='M0,25c0,1.6,1.3,2.9,2.9,2.9h37L24.9,43c-1.1,1.1-1.1,3,0,4.2c1.1,1.1,3,1.1,4.2,0l20.1-20.1 c0.1-0.1,0.3-0.3,0.4-0.5c0-0.1,0.1-0.1,0.1-0.2c0.1-0.1,0.1-0.2,0.2-0.3c0-0.1,0.1-0.2,0.1-0.3c0-0.1,0.1-0.2,0.1-0.3 c0.1-0.4,0.1-0.8,0-1.2c0-0.1-0.1-0.2-0.1-0.3c0-0.1-0.1-0.2-0.1-0.3c0-0.1-0.1-0.2-0.2-0.3c0-0.1-0.1-0.1-0.1-0.2 c-0.1-0.2-0.2-0.3-0.4-0.5L29,2.8c-1.2-1.1-3-1.1-4.2,0.1c-1.1,1.1-1.1,2.9,0,4.1L40,22.1h-37C1.3,22.1,0,23.4,0,25 C0,25,0,25,0,25'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 50 50' style='enable-background:new 0 0 50 50;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bclip-path:url(%23SVGID_1_);%7D%0A%3C/style%3E%3Cg%3E%3Cdefs%3E%3Crect id='SVGID_3_' y='2' width='50' height='46.1'/%3E%3C/defs%3E%3CclipPath id='SVGID_1_'%3E%3Cuse xlink:href='%23SVGID_3_' style='overflow:visible;'/%3E%3C/clipPath%3E%3Cg id='Group_26' class='st0'%3E%3Cpath id='Path_20044' d='M0,25c0,1.6,1.3,2.9,2.9,2.9h37L24.9,43c-1.1,1.1-1.1,3,0,4.2c1.1,1.1,3,1.1,4.2,0l20.1-20.1 c0.1-0.1,0.3-0.3,0.4-0.5c0-0.1,0.1-0.1,0.1-0.2c0.1-0.1,0.1-0.2,0.2-0.3c0-0.1,0.1-0.2,0.1-0.3c0-0.1,0.1-0.2,0.1-0.3 c0.1-0.4,0.1-0.8,0-1.2c0-0.1-0.1-0.2-0.1-0.3c0-0.1-0.1-0.2-0.1-0.3c0-0.1-0.1-0.2-0.2-0.3c0-0.1-0.1-0.1-0.1-0.2 c-0.1-0.2-0.2-0.3-0.4-0.5L29,2.8c-1.2-1.1-3-1.1-4.2,0.1c-1.1,1.1-1.1,2.9,0,4.1L40,22.1h-37C1.3,22.1,0,23.4,0,25 C0,25,0,25,0,25'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
        -webkit-mask-position: center;
        -webkit-mask-size: clamp(0.6875rem, 0.6442rem + 0.1923vw, 0.875rem) auto;
        -webkit-mask-repeat: no-repeat;
        mask-position: center;
        mask-size: clamp(0.6875rem, 0.6442rem + 0.1923vw, 0.875rem) auto;
        mask-repeat: no-repeat;
    }    
        
    .pagination ul li a .wdticon-angle-double-left:before { transform: rotate(180deg); }

    .pagination div[class*="-posts"] { display: inline-block; float: none; position: relative; text-align: center; width: auto; z-index: 9; }
    .pagination div[class*="-posts"] a { display: inline-block; float: none; margin: 2px; min-width: 150px; -webkit-border-radius: var(--wdtRadius_3X); border-radius: var(--wdtRadius_3X); }

    .pagination:empty { display: none; }
    .archive .pagination.blog-pagination:empty { display: inline-block; }

    .pagination .newer-posts a { margin-bottom: -1px; padding: var(--wdtPadding_Btn); }
    .pagination .older-posts a { margin-bottom: -1px; padding: var(--wdtPadding_Btn); }
    .pagination .older-posts i, .pagination .newer-posts i { height: 20px; line-height: 20px; text-align: center; width: auto; }
    .pagination .older-posts i { margin-left: 5px; }
    .pagination .newer-posts i { margin-right: 5px; }
    .pagination .older-posts i:before, .pagination .newer-posts i:before { margin: 0; width: auto; }
    .pagination div[class*="-posts"]:only-child a { margin: 0; }

    .pagination a.loadmore-btn { display: inline-block; /*height: 35px; line-height: 35px; padding: 0 20px;*/ position: relative; width: auto; margin-top: 10px; }
    .pagination a.loadmore-btn:not(.more-items) { cursor: not-allowed; }
    /* .pagination a.loadmore-btn:before { border: 1px solid; bottom: -5px; content: ''; display: block; left: -5px; margin: auto; position: absolute; right: -5px; top: -5px; } */

    .tpl-blog-holder.loading + .pagination a.loadmore-btn:after { animation: animateCircle 2s linear infinite; border: 3px solid transparent; border-radius: 50%; border-right: 3px solid #fff; border-top: 3px solid #fff; bottom: 0; content: ''; display: block; height: 25px; left: 0; margin: auto; opacity: .5; position: absolute; right: 0; top: 0; width: 25px; }

    @keyframes animateCircle {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    @keyframes animate {
        0% { transform: rotate(45deg); }
        100% { transform: rotate(405deg); }
    }

    .pagination .newer-posts a:not(:focus), .pagination .older-posts a:not(:focus), .pagination ul li a:not(:focus), .pagination a.loadmore-btn:not(:focus) { text-decoration: none; }
    .pagination .newer-posts a:focus, .pagination .older-posts a:focus, .pagination ul li a:focus, .pagination a.loadmore-btn:focus { text-decoration: underline !important; }


/*--------------------------------------------------------------
    Default Colors
--------------------------------------------------------------*/

    .page-link a, .pagination ul li a,
    .woocommerce nav.woocommerce-pagination ul li a,
    .page-link > span, .pagination ul li span,
    .woocommerce nav.woocommerce-pagination ul li span { color: var(--wdtHeadAltColor); }

    .pagination .newer-posts a, .pagination .older-posts a, .pagination a.loadmore-btn,
    .page-link > a:hover, .page-link > a:focus, .page-link > span,
    .pagination ul li a:hover, .pagination ul li a:focus, .pagination ul li span:not(.dots),
    .woocommerce nav.woocommerce-pagination ul li a:focus, 
    .woocommerce nav.woocommerce-pagination ul li a:hover, 
    .woocommerce nav.woocommerce-pagination ul li span.current { color: var(--wdtAccentTxtColor); }

    .pagination .newer-posts, .pagination .older-posts { background: var(--wdtBodyBGColor); }

    .page-link a, .pagination ul li a,
    .page-link > span, .pagination ul li span,
    .pagination a.loadmore-btn:before,
    .woocommerce nav.woocommerce-pagination ul li a,
    .woocommerce nav.woocommerce-pagination ul li span { border-color: var(--wdtBorderColor); }

    .tpl-blog-holder.loading + .pagination a.loadmore-btn:after { border-top-color: var(--wdtBodyBGColor); border-right-color: var(--wdtBodyBGColor); }



/*--------------------------------------------------------------
    Accents
--------------------------------------------------------------*/

    /* Primary Color */
    .tpl-blog-holder.loading + .pagination a.loadmore-btn { color: var(--wdtPrimaryColor); }

    .pagination .newer-posts a, .pagination .older-posts a, .pagination a.loadmore-btn,
    .page-link > a:hover, .page-link > a:focus, .page-link > span,
    .pagination ul li a:hover, .pagination ul li a:focus, .pagination ul li span:not(.dots),
    .woocommerce nav.woocommerce-pagination ul li a:focus, 
    .woocommerce nav.woocommerce-pagination ul li a:hover, 
    .woocommerce nav.woocommerce-pagination ul li span.current { background-color: var(--wdtPrimaryColor); }

    .page-link > a:hover, .page-link > a:focus, .page-link > span,
    .pagination ul li a:hover, .pagination ul li a:focus, .pagination ul li span:not(.dots),
    .woocommerce nav.woocommerce-pagination ul li a:focus, 
    .woocommerce nav.woocommerce-pagination ul li a:hover, 
    .woocommerce nav.woocommerce-pagination ul li span.current { border-color: var(--wdtPrimaryColor); }

    .pagination .newer-posts a:hover, .pagination .older-posts a:hover, .pagination a.loadmore-btn:hover, .pagination a.loadmore-btn:not(.more-items) { background: var(--wdtSecondaryColor); }

    .tpl-blog-holder.loading + .pagination a.loadmore-btn:hover { color: var(--wdtSecondaryColor); }

    .wdticon-angle-double-left:before,
    .wdticon-angle-double-right:before {
        content: "";
        position: relative;
        display: inline-block;
        background-color: currentColor;
        margin: auto;
        width: 18px;
        height: 18px;
        -webkit-mask-position: center;
        -webkit-mask-size: clamp(0.6875rem, 0.6442rem + 0.1923vw, 0.875rem) auto;
        -webkit-mask-repeat: no-repeat;
        mask-position: center;
        mask-size: clamp(0.6875rem, 0.6442rem + 0.1923vw, 0.875rem) auto;
        mask-repeat: no-repeat; 
    }

    .wdticon-angle-double-left:before {
        -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 100 100' style='enable-background:new 0 0 100 100;' xml:space='preserve'%3E%3Cpath d='M96.7,45.9c-1.1-1.1-2.5-1.7-4-1.7H21.1l29.1-29.1c1-1.1,1.6-2.5,1.6-4c0-1.5-0.6-2.9-1.7-4c-1.1-1-2.5-1.6-4-1.7 c-1.5,0-2.9,0.5-4,1.6L3.3,45.9c-0.3,0.3-0.5,0.6-0.7,0.9c-0.1,0.1-0.1,0.3-0.2,0.4c-0.1,0.2-0.2,0.4-0.3,0.6 C2,47.9,2,48.1,1.9,48.3c-0.1,0.2-0.1,0.3-0.1,0.5c-0.1,0.7-0.1,1.5,0,2.2c0,0.2,0.1,0.3,0.1,0.5c0,0.2,0.1,0.4,0.2,0.6 c0.1,0.2,0.2,0.4,0.3,0.6c0.1,0.1,0.1,0.3,0.2,0.4c0.2,0.3,0.5,0.6,0.7,0.9l38.8,38.8c0.5,0.5,1.2,0.9,1.8,1.2 c0.7,0.3,1.4,0.4,2.2,0.4c0.7,0,1.5-0.1,2.2-0.4c0.7-0.3,1.3-0.7,1.8-1.2c0.5-0.5,0.9-1.2,1.2-1.8c0.3-0.7,0.4-1.4,0.4-2.2 c0-0.7-0.1-1.5-0.4-2.2c-0.3-0.7-0.7-1.3-1.2-1.8L21.1,55.6h71.6c1.5,0,3-0.6,4-1.7c1.1-1.1,1.7-2.5,1.7-4S97.7,47,96.7,45.9z'/%3E%3C/svg%3E%0A");
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 100 100' style='enable-background:new 0 0 100 100;' xml:space='preserve'%3E%3Cpath d='M96.7,45.9c-1.1-1.1-2.5-1.7-4-1.7H21.1l29.1-29.1c1-1.1,1.6-2.5,1.6-4c0-1.5-0.6-2.9-1.7-4c-1.1-1-2.5-1.6-4-1.7 c-1.5,0-2.9,0.5-4,1.6L3.3,45.9c-0.3,0.3-0.5,0.6-0.7,0.9c-0.1,0.1-0.1,0.3-0.2,0.4c-0.1,0.2-0.2,0.4-0.3,0.6 C2,47.9,2,48.1,1.9,48.3c-0.1,0.2-0.1,0.3-0.1,0.5c-0.1,0.7-0.1,1.5,0,2.2c0,0.2,0.1,0.3,0.1,0.5c0,0.2,0.1,0.4,0.2,0.6 c0.1,0.2,0.2,0.4,0.3,0.6c0.1,0.1,0.1,0.3,0.2,0.4c0.2,0.3,0.5,0.6,0.7,0.9l38.8,38.8c0.5,0.5,1.2,0.9,1.8,1.2 c0.7,0.3,1.4,0.4,2.2,0.4c0.7,0,1.5-0.1,2.2-0.4c0.7-0.3,1.3-0.7,1.8-1.2c0.5-0.5,0.9-1.2,1.2-1.8c0.3-0.7,0.4-1.4,0.4-2.2 c0-0.7-0.1-1.5-0.4-2.2c-0.3-0.7-0.7-1.3-1.2-1.8L21.1,55.6h71.6c1.5,0,3-0.6,4-1.7c1.1-1.1,1.7-2.5,1.7-4S97.7,47,96.7,45.9z'/%3E%3C/svg%3E%0A");
    }

    .wdticon-angle-double-right:before {
        -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 100 100' style='enable-background:new 0 0 100 100;' xml:space='preserve'%3E%3Cpath d='M1.7,49.9c0,1.5,0.6,3,1.7,4c1.1,1.1,2.5,1.7,4,1.7h71.6L49.8,84.8c-0.5,0.5-0.9,1.2-1.2,1.8c-0.3,0.7-0.4,1.4-0.4,2.2 c0,0.7,0.1,1.5,0.4,2.2c0.3,0.7,0.7,1.3,1.2,1.8c0.5,0.5,1.2,0.9,1.8,1.2c0.7,0.3,1.4,0.4,2.2,0.4c0.7,0,1.5-0.1,2.2-0.4 c0.7-0.3,1.3-0.7,1.8-1.2L96.7,54c0.3-0.3,0.5-0.6,0.7-0.9c0.1-0.1,0.1-0.3,0.2-0.4c0.1-0.2,0.2-0.4,0.3-0.6 c0.1-0.2,0.1-0.4,0.2-0.6c0.1-0.2,0.1-0.3,0.1-0.5c0.1-0.7,0.1-1.5,0-2.2c0-0.2-0.1-0.3-0.1-0.5c0-0.2-0.1-0.4-0.2-0.6 c-0.1-0.2-0.2-0.4-0.3-0.6c-0.1-0.1-0.1-0.3-0.2-0.4c-0.2-0.3-0.5-0.6-0.7-0.9L57.8,7.1c-1.1-1-2.5-1.6-4-1.6c-1.5,0-2.9,0.6-4,1.7 c-1.1,1-1.6,2.5-1.7,4c0,1.5,0.5,2.9,1.6,4l29.1,29.1H7.4c-1.5,0-3,0.6-4,1.7C2.3,47,1.7,48.4,1.7,49.9z'/%3E%3C/svg%3E%0A");
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 100 100' style='enable-background:new 0 0 100 100;' xml:space='preserve'%3E%3Cpath d='M1.7,49.9c0,1.5,0.6,3,1.7,4c1.1,1.1,2.5,1.7,4,1.7h71.6L49.8,84.8c-0.5,0.5-0.9,1.2-1.2,1.8c-0.3,0.7-0.4,1.4-0.4,2.2 c0,0.7,0.1,1.5,0.4,2.2c0.3,0.7,0.7,1.3,1.2,1.8c0.5,0.5,1.2,0.9,1.8,1.2c0.7,0.3,1.4,0.4,2.2,0.4c0.7,0,1.5-0.1,2.2-0.4 c0.7-0.3,1.3-0.7,1.8-1.2L96.7,54c0.3-0.3,0.5-0.6,0.7-0.9c0.1-0.1,0.1-0.3,0.2-0.4c0.1-0.2,0.2-0.4,0.3-0.6 c0.1-0.2,0.1-0.4,0.2-0.6c0.1-0.2,0.1-0.3,0.1-0.5c0.1-0.7,0.1-1.5,0-2.2c0-0.2-0.1-0.3-0.1-0.5c0-0.2-0.1-0.4-0.2-0.6 c-0.1-0.2-0.2-0.4-0.3-0.6c-0.1-0.1-0.1-0.3-0.2-0.4c-0.2-0.3-0.5-0.6-0.7-0.9L57.8,7.1c-1.1-1-2.5-1.6-4-1.6c-1.5,0-2.9,0.6-4,1.7 c-1.1,1-1.6,2.5-1.7,4c0,1.5,0.5,2.9,1.6,4l29.1,29.1H7.4c-1.5,0-3,0.6-4,1.7C2.3,47,1.7,48.4,1.7,49.9z'/%3E%3C/svg%3E%0A");
    }

/*--------------------------------------------------------------
    Responsive
--------------------------------------------------------------*/

    /*----*****---- << Tablet (Portrait) >> ----*****----*/

    /* Note: Design for a width of 768px */
    @media only screen and (min-width:768px) and (max-width:1024px) {


    }

/*----*****---- << Mobile (Landscape) >> ----*****----*/

/* Common Styles for the devices below 767px width */
@media only screen and (max-width: 767px) {

    .pagination ul li a, .pagination ul li span, .page-link a, .page-link > span, .woocommerce nav.woocommerce-pagination ul li a, 
    .woocommerce nav.woocommerce-pagination ul li span { 
        font-size: var(--wdtFontSize_Base); font-weight: 600; }

    .pagination ul li a.next i, .pagination ul li a.prev i,
    .woocommerce .product-loop-sorting nav.woocommerce-pagination ul li i { font-size: calc(var(--wdtFontSize_Base) - 3px); }

    #primary.elementor-column .pagination.blog-pagination { margin-top: 8px; }
}