/* Registration Form */
.wdt-registration-form {
    padding: 80px;
    background-color: rgba(var(--wdtBodyBGColorRgb), 1);
    width: 100%;
    max-width: 650px;
    border-radius: var(--wdtRadius_3X);
    margin: 0 auto;
    margin-bottom: 120px;
    border: 1px solid var(--wdtLinkHoverColor);

}

.wdt-registration-form form {
    margin-top: 60px;
}

.wdt-registration-form .faryita-custom-auth-sc-border-title h2 {
    text-align: center;
}

.wdt-registration-form p {
    text-align: center;
    font-weight: calc(var(--wdtFontWeight_Base) - 100);
}

.wdt-registration-form p strong {
    font-weight: calc(var(--wdtFontWeight_Base) - 100);
}

.wdt-registration-form form p {
    text-align: left;
    color: var(--wdtBodyTxtColor);
}

.wdt-registration-form form p:last-child {
    text-align: center;
}

.wdt-registration-form form p a.faryita-pro-login-link {
    color: var(--wdtLinkHoverColor);
    text-decoration: underline;
    text-decoration-color: currentColor;
}

.wdt-registration-form form p a.faryita-pro-login-link:hover {
    text-decoration-color: currentColor;
}

.wdt-registration-form form#loginform {
    display: block;
}

.faryita-pro-login-description {
    text-align: center;
}

.wdt-registration-form input[type="submit"] {
    width: 100%;
    padding: var(--wdtPadding_MiniBtn);
    padding-top: 14px;
    padding-bottom: 14px;
}

.wdt-registration-form input[type="submit"]:hover {
    background-color: var(--wdtSecondaryColor);
    color: var(--wdtAccentTxtColor);
}

.faryita-pro-login-form-holder #loginform p {
    margin: 0 0 0 0;
}

.faryita-pro-login-form-holder #loginform {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-between;
    grid-gap: 20px;
}

/* Login form */

.faryita-pro-login-form-container {
    display: block;
    height: 100% !important;
    margin: 0;
    padding: 0;
    pointer-events: none;
    width: 100%;
    z-index: 10000;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

.faryita-pro-login-form-overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9999;
    background: rgba(var(--wdtBodyBGColorRgb), 1);
}

.login-form-custom-logo {
    text-align: center;
    margin: 10px 0;
    margin-bottom: clamp(1.25rem, 1rem + 1.25vw, 2.5rem);
    /*----min-20px and max-40px-----*/
}

.login-form-custom-logo img {
    max-width: 170px;
}

.faryita-pro-login-form-holder>*:not(:last-child),
.faryita-pro-login-form-container .faryita-pro-login-form>*:not(:last-child) {
    margin-bottom: 30px;
}

.faryita-pro-login-form-container .faryita-pro-login-form {
    display: grid;
    padding: 0;
    pointer-events: none;
    position: absolute;
    left: 0;
    right: 0;
    /* top: 50%;
transform: translateY(-50%);
-webkit-transform: translateY(-50%); */
    background-color: rgba(var(--wdtBodyBGColorRgb), 1);
    width: 100%;
    margin: auto;
    height: 100%;
    place-content: center;
}

.faryita-pro-login-form-container .faryita-pro-login-form .faryita-pro-login-form-wrapper {
    padding: 70px;
    border-radius: var(--wdtRadius_3X);
    border: 1px solid;
    max-width: 820px;
    height: fit-content;
    overflow-y: auto;
    max-height: calc(100vh - 2*1.5em);
    pointer-events: auto;
}

.faryita-pro-login-form-container .faryita-pro-login-form .faryita-pro-title.faryita-pro-login-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: clamp(1.25rem, 1rem + 1.25vw, 2.5rem);
    /*----min-20px and max-40px-----*/
}


#loginform .login-username,
#loginform .login-password {
    width: 100%;
}

#loginform .login-remember {
    text-align: left;
}

#loginform p.login-remember input[type="checkbox"] {
    opacity: 1;
    -webkit-appearance: none;
    appearance: none;
    width: 1em;
    height: 1em;
    border: 1px solid var(--wdtBorderColor);
    transform: translateY(-0.075em);
    display: inline-grid;
    place-content: center;
    background: rgba(var(--wdtTertiaryColorRgb), .0);
    border-radius: 2px;
    padding: 0 0;
}

#loginform p.login-remember input[type="checkbox"]:after {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--wdtPrimaryColor);
}

#loginform p.login-remember input[type="checkbox"]:checked:after {
    transform: scale(1);
}

#loginform input[type="text"]:focus,
#loginform input[type="password"]:focus {
    border-color: var(--wdtPrimaryColor);
}

#loginform .login-submit input[type="submit"] {
    width: 100%;
    background-color: var(--wdtPrimaryColor);
    padding-top: 14px;
    padding-bottom: 14px;
}

#loginform .login-submit input[type="submit"]:hover {
    background-color: var(--wdtSecondaryColor);
    color: var(--wdtAccentTxtColor);
}

.faryita-pro-social-logins-divider {
    text-align: center;
    margin: 20px 0;
}

.faryita-pro-title.faryita-pro-login-title h2 {
    text-align: center;
    margin-top: 0;
}

.faryita-pro-login-form-container .faryita-pro-login-form .faryita-pro-login-form-holder p.tpl-forget-pwd {
    margin-bottom: 0px;
}

.faryita-pro-login-form-container .faryita-pro-login-form .faryita-pro-login-form-holder p.tpl-forget-pwd a {
    color: var(--wdtLinkHoverColor);
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: all 0.3s linear;
}

.faryita-pro-login-form-container .faryita-pro-login-form .faryita-pro-login-form-holder p.tpl-forget-pwd a:hover {
    text-decoration-color: var(--wdtLinkHoverColor);
}

a.faryita-pro-social-facebook-connect,
a.faryita-pro-social-google-connect {
    width: 100%;
    padding: 12px 30px;
    display: inline-block;
    text-align: center;
    background: var(--wdtAccentTxtColor);
    color: var(--wdt-elementor-color-black);
    border-radius: var(--wdtRadius_Part);
    box-shadow: rgba(var(--wdtLinkHoverColorRgb), 1) 0 0 0px;
    border: 1px solid rgba(var(--wdtBorderColorRgb), 0.6);
    margin: 0;
    font-size: 1rem;
    font-weight: var(--wdtFontWeight_Ext);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

a.faryita-pro-social-facebook-connect:hover,
a.faryita-pro-social-google-connect:hover {
    background-color: var(--wdtSecondaryColor);
    color: rgba(var(--wdtAccentTxtColorRgb), 1);
    border-color: rgba(var(--wdtSecondaryColorRgb), 1);
}

a.faryita-pro-social-facebook-connect i,
a.faryita-pro-social-google-connect i {
    margin-right: 2px;
}

.faryita-pro-login-form-container {
    max-width: 1640px;
    margin: auto;
}

#loginform input:not(input[type="submit"]) {
    color: var(--wdtHeadAltColor);
}

a.faryita-pro-social-facebook-connect i {
    width: 20px;
    height: 20px;
    color: var(--wdtAccentTxtColor);
    background-color: #185BB0;
    border-radius: 5px;
    display: grid;
    place-items: center;
    font-size: 14px;
}

a.faryita-pro-social-google-connect svg .google-color-1 {
    fill: #4280EF;
}

a.faryita-pro-social-google-connect svg .google-color-2 {
    fill: #34A353;
}

a.faryita-pro-social-google-connect svg .google-color-3 {
    fill: #F6B704;
}

a.faryita-pro-social-google-connect svg .google-color-4 {
    fill: #E54335;
}


.faryita-pro-social-logins-divider {
    display: flex;
    align-items: center;
}

.faryita-pro-social-logins-divider:before {
    position: relative;
    content: "";
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: rgb(var(--wdtLinkHoverColorRgb), .8);
    margin-right: 10px;
}

.faryita-pro-social-logins-divider:after {
    position: relative;
    content: "";
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: rgb(var(--wdtLinkHoverColorRgb), .8);
    margin-left: 10px
}

@media only screen and (max-width:1540px) {
    .faryita-pro-title.faryita-pro-login-title h2 {
        font-size: var(--wdtFontSize_H3);
    }

    .faryita-pro-login-form #loginform {
        margin-top: 0;
    }

    .faryita-pro-social-logins-divider {
        margin-top: 20px;
        margin-bottom: 30px;
    }

    #loginform {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        grid-gap: 20px;
    }

    #loginform .login-submit {
        margin-bottom: 0;
        grid-area: 3/1;
    }
}

@media screen and (min-width: 768px) and (max-width: 1540px) {
    .faryita-pro-login-form-holder #loginform {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width:1281px) and (max-width: 1540px) {
    .faryita-pro-login-form-container {
        max-width: 1080px;
        margin: auto;
    }

    .faryita-pro-login-form-holder>*:not(:last-child),
    .faryita-pro-login-form-container .faryita-pro-login-form>*:not(:last-child) {
        margin-bottom: 20px;
    }
}

@media screen and (min-width:1025px) and (max-width: 1280px) {
    .faryita-pro-login-form-container {
        max-width: 900px;
        margin: auto;
    }
}

@media screen and (min-width:768px) and (max-width: 1024px) {
    .faryita-pro-login-form-container {
        max-width: 710px;
        margin: auto;
    }
}

@media screen and (max-width: 767px) {

    #loginform .login-username,
    #loginform .login-password {
        margin-bottom: 20px;
    }

    .faryita-pro-login-form-container {
        overflow: scroll;
    }

    .faryita-pro-login-form-container .faryita-pro-login-form .faryita-pro-login-form-wrapper {
        padding: 30px;
        max-width: 420px;
        margin: 0 20px;
        width: calc(100% - 40px);
    }

    .faryita-pro-title.faryita-pro-login-title h2 {
        font-size: var(--wdtFontSize_H4);
    }

    .wdt-registration-form {
        padding: 30px;
    }

    .wdt-registration-form .faryita-custom-auth-sc-border-title h2 {
        font-size: var(--wdtFontSize_H3);
    }
}

@media screen and (min-width:480px) and (max-width: 767px) {
    .faryita-pro-login-form-container {
        margin: auto;
    }
}

@media screen and (max-width: 479px) {

    a.faryita-pro-social-facebook-connect,
    a.faryita-pro-social-google-connect {
        padding: 10px;
    }

    .faryita-pro-login-form-container {
        max-width: 100%;
        margin: auto;
    }

    .faryita-pro-title.faryita-pro-login-title h2 {
        font-size: var(--wdtFontSize_H4);
    }

    .wdt-registration-form .faryita-custom-auth-sc-border-title h2 {
        font-size: var(--wdtFontSize_H4);
    }
}



/* After Registration */
.mu_register {
    width: 100%;
    margin: 0 auto;
    max-width: 600px;
    padding: 50px;
    background: var(--wdtSecondaryColor);
    box-shadow: rgba(0, 0, 0, .8) 0 0 40px;
    border-radius: var(--wdtRadius_3X);
}

.mu_register h2 {
    font-size: var(--wdtFontSize_H4);
    text-align: center;
}

.mu_register form input {
    box-shadow: none;
    -webkit-box-shadow: none;
    border: 1px solid transparent;
}

.mu_register form input:focus {
    border-color: var(--wdtPrimaryColor);
}

.mu_register form .wp-signup-username-description,
.mu_register form .wp-signup-email-description {
    margin-bottom: 15px;
}

.mu_register p.submit {

    margin-top: 20px;
}

.mu_register form p.submit input[type="submit"] {
    font-size: var(--wdtFontSize_Base);
}

@media screen and (max-width: 479px) {
    .faryita-pro-login-form-container .faryita-pro-login-form .faryita-pro-login-form-wrapper {
        padding: 20px;
        margin: 0 15px;
        width: calc(100% - 30px);
    }

    .mu_register {
        padding: 30px;
    }
}


@media only screen and (min-width:1281px) and (max-width:1540px) {
    .wdt-registration-form {
        margin-bottom: 100px;
    }
}

@media only screen and (min-width:1025px) and (max-width:1280px) {
    .wdt-registration-form {
        margin-bottom: 80px;
    }
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    .wdt-registration-form {
        margin-bottom: 70px;
    }
}

@media only screen and (min-width:480px) and (max-width:767px) {
    .wdt-registration-form {
        margin-bottom: 60px;
    }
}

@media only screen and (max-width: 479px) {
    .wdt-registration-form {
        margin-bottom: 60px;
    }
}